@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wysiwyg {
    @apply prose prose-lg max-w-none;
  }
}

:root {
  /* General Colors */
  --general-primary: #000000;
  --general-secondary: #464646;
  --general-background: #ffffff;
  --general-container: #ffffff;
  --general-highlight: #b9b9b9;
  --general-icon: #100067;
  --general-label: #818181;
  --general-text: #333333;
  --general-link: #3490dc;
  --general-border: #949494;

  /* Header Colors*/
  --header-primary: #fefefe;
  --header-secondary: #f6f6f6;
  --header-text: #333333;
  --header-hover: #3490dc;
  --header-decoration: #949494;

  /* Footer Colors*/
  --footer-primary: #fefefe;
  --footer-secondary: #f6f6f6;
  --footer-banner: #000000;
  --footer-text: #333333;
  --footer-hover: #3490dc;
  --footer-decoration: #949494;

  color-scheme: light dark;

  /* Primary Button */
  --button-primary-background: #01C311;
  --button-primary-color: #ffffff;
  --button-primary-hoverbackground: #00d812;
  --button-primary-hovercolor: #ffffff;

  /* Secondary Button */
  --button-secondary-background: #7d0000;
  --button-secondary-color: #ffffff;
  --button-secondary-hoverbackground: #a80000;
  --button-secondary-hovercolor: #ffffff;

  /* Tertiary Button */
  --button-tertiary-background: #ffffff;
  --button-tertiary-color: #404040;
  --button-tertiary-hoverbackground: #e0e0e0;
  --button-tertiary-hovercolor: #404040;

  /* Selected Button */
  --button-selected-background: #007BFF;
  --button-selected-color: #ffffff;
  --button-selected-hoverbackground: #0056b3;
  --button-selected-hovercolor: #ffffff;
  
  /* Unselected Button */
  --button-unselected-background: #F4F4F4;
  --button-unselected-color: #B0B0B0;
  --button-unselected-hoverbackground: #D9D9D9;
  --button-unselected-hovercolor: #B0B0B0;

  /* Shop Button */
  --button-shop-background: #FF5733;
  --button-shop-color: #ffffff;
  --button-shop-hoverbackground: #ff7f47;
  --button-shop-hovercolor: #ffffff;

  /* Notification Colors */
  --error-color: #f93c3c;
  --error-text: #ffffff;

  --warn-color: #fdfa4b;
  --warn-text: #ffffff;

  --info-color: #0b81ff;
  --info-text: #ffffff;

  --success-color: #6bff36;
  --success-text: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing {
  --s: 80px; /* control the size */
  --c1: #0ea4e956;
  --c2: #000c18;

  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: var(--_s) conic-gradient(at 20% 20%, #0000 75%, var(--c1) 0);
  --_p: var(--_s) conic-gradient(at 10% 10%, #0000 75%, var(--c2) 0);
  background: calc(0.9 * var(--s)) calc(0.9 * var(--s)) / var(--_p),
    calc(-0.05 * var(--s)) calc(-0.05 * var(--s)) / var(--_p),
    calc(0.8 * var(--s)) calc(0.8 * var(--s)) / var(--_g),
    calc(-0.15 * var(--s)) calc(-0.15 * var(--s)) / var(--_g),
    conic-gradient(from 90deg at 0% 0%, var(--c2) 25%, var(--c1) 0) 0 0 /
      var(--s) var(--s);
  animation: m 3s infinite;
}
@keyframes m {
  0% {
    background-position: calc(0.9 * var(--s)) calc(0.9 * var(--s)),
      calc(-0.05 * var(--s)) calc(-0.05 * var(--s)),
      calc(0.8 * var(--s)) calc(0.8 * var(--s)),
      calc(-0.15 * var(--s)) calc(-0.15 * var(--s)), 0 0;
  }
  25% {
    background-position: calc(1.9 * var(--s)) calc(0.9 * var(--s)),
      calc(-1.05 * var(--s)) calc(-0.05 * var(--s)),
      calc(1.8 * var(--s)) calc(0.8 * var(--s)),
      calc(-1.15 * var(--s)) calc(-0.15 * var(--s)), 0 0;
  }
  50% {
    background-position: calc(1.9 * var(--s)) calc(-0.05 * var(--s)),
      calc(-1.05 * var(--s)) calc(0.9 * var(--s)),
      calc(1.8 * var(--s)) calc(-0.15 * var(--s)),
      calc(-1.15 * var(--s)) calc(0.8 * var(--s)), 0 0;
  }
  75% {
    background-position: calc(2.9 * var(--s)) calc(-0.05 * var(--s)),
      calc(-2.05 * var(--s)) calc(0.9 * var(--s)),
      calc(2.8 * var(--s)) calc(-0.15 * var(--s)),
      calc(-2.15 * var(--s)) calc(0.8 * var(--s)), 0 0;
  }
  100% {
    background-position: calc(2.9 * var(--s)) calc(-1.05 * var(--s)),
      calc(-2.05 * var(--s)) calc(1.9 * var(--s)),
      calc(2.8 * var(--s)) calc(-1.15 * var(--s)),
      calc(-2.15 * var(--s)) calc(1.8 * var(--s)), 0 0;
  }
}